language: generic

os: linux

services:
  - docker

env:
  - DISTRO=tomcat
  - DISTRO=wildfly
  - DISTRO=run

jobs:
  include:  # do not run EE builds for forks (they don't have access to EE credentials)
    - if: head_repo = repo
      env: DISTRO=tomcat EE=true
    - if: head_repo = repo
      env: DISTRO=wildfly EE=true
    - if: head_repo = repo
      env: DISTRO=run EE=true

script:
  - ./pipeline.sh
