language: generic

os: linux

services:
  - docker

env:
  - DISTRO=tomcat
  - DISTRO=tomcat EE=true
  - DISTRO=wildfly
  - DISTRO=wildfly EE=true
  - DISTRO=run
  - DISTRO=run EE=true

script:
  - |
    docker build .                              \
      -t camunda/camunda-bpm-platform:${DISTRO} \
      --build-arg DISTRO=${DISTRO}              \
      --build-arg EE=${EE}                      \
      --build-arg USER=${NEXUS_USER}            \
      --build-arg PASSWORD=${NEXUS_PASS}
  - ./test/test.sh
  - ./release.sh

# Only build EE if Nexus credentials are provided (i.e. when CI is triggered by project maintainers not PRs).
if: env(NEXUS_USER) IS present AND env(NEXUS_PASS) IS present
